* {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to top left, rgb(231, 231, 231), #fff);
}

.green-shadow {
  transition: box-shadow 0.3s;
}

.green-shadow:hover {
  box-shadow: 0 5px 10px rgb(16, 185, 129, 0.4);
}

.loader {
  border-top-color: rgb(16, 185, 129);
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

.preloader-img {
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 55;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
